html, body{
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#game-container{
	width: 100%;
	height: 100%;
	background-image: url('Pictures/MP8glav.png');
	position: relative;
}

#player{
	transition: left 0.3s ease, right 0.3s ease; /* Smooth transition for left and bottom properties */
	width: 150px;
	height: 150px;
	background-image: url('Pictures/plane_preview-crop.png');
	background-size: contain;
	position: absolute;
	bottom: 0;
}

.obstacle{
	width: 100px;
	height: 100px;
	background-image: url('Pictures/enemy-unscreen.gif');
	background-size: contain;
	position: absolute;
	top: -50px;
}

.power-up{
	width: 75px;
	height: 75px;
	background-image: url('Pictures/star2.png');
	background-size: contain;
	position: absolute;
	top: -50px;
}

#score{
	position: absolute;
	color: aliceblue;
	top: 10px;
	left: 10px;
	font-size: 40px;
}

#gameOver{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#gameOver h1{
	font-size: 36px;
	margin-bottom: 20px;
	color: aliceblue;
}

#playAgain, #goBack{
	padding: 10px 20px;
	font-size: 18px;
}