html, body {
	margin: 0; height: 100%; overflow: hidden
}

#game-container {
	width: 100%;
	height: 100%;
	background-color: #d3d3d3;
	position: relative;
}

#player {
	width: 50px;
	height: 50px;
	background-image: ('/Pictures/main.png');
	background-size: contain;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.obstacle {
	width: 50px;
	height: 50px;
	background-image: url('https://i.imgur.com/cnA80cm.png');
	background-size: contain;
	position: absolute;
	top: -50px;
}

.power-up {
	width: 50px;
	height: 50px;
	background-image: url('https://i.imgur.com/L0zYvXu.png');
	background-size: contain;
	position: absolute;
	top: -50px;
}

#score {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 24px;
}

#level {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
}